<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	 
	<appSettings>
    <!--connction string Decrypt by Rathinam at 05/March/2012-->
		<add key="connectionstring" value="dFOOr+CfWDktfNfu48K2TupJ3FtBlqiMnGcWE1oA3D4ynf7p6j/3VVS9NnzAzwHysWGmmKRwHfx0h8flqhrNzzOsE5S78qnWn7JkuZPhk4DAvDFLqZPseD38laG851inFoOLeB56gbBsJy+ucBGL2Y2FHMKGKgD39wsMMPrzXlAYKwSx/ezI8Q=="></add>
		<add key="prntName" value="\\192.168.200.51\IBM Proprinter" />
		<add key="versiondetails" value="Version 6.0 January 2013" />
    <add key="atbpslocation" value="Tuticorin"></add>
    <add key="lastupdated" value="Iz/OWEQ7fWSKIC6sBqGW8Q=="></add>
		<!--<add key="location" value="kulithalai"></add>-->
		<add key="OnlineBillAcceptMode" value="True"></add>
		<add key="tokenfirstpart" value="20034001"></add>
    <!--reportserver string Decrypt by Rathinam at 05/March/2012-->
		<!--<add key="reportserver" value="fKhS79Fr6FL50NODrcOaPR+R3Z92bNZWe0atOMclFiy4BXgK98s1TQ=="></add>-->
    <add key="reportserver" value="fKhS79Fr6FL50NODrcOaPRfxuHZ4438A86OVRMWyz7/dIKh+eume7A=="></add>
	</appSettings>
	<system.web>
    <!--<sessionState timeout="15"></sessionState>-->
		<identity impersonate="true" />
		<httpRuntime maxRequestLength="104857600" executionTimeout="3600" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
		</httpHandlers>
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="WebUI/Admin/Login.aspx" protection="All" timeout="30"></forms>
		</authentication>
		<authorization>
			<!--<deny users="?"/>-->
			<allow users="*" />
		</authorization>
		<compilation debug="true" />
    
  </system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" name="captcha"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2097152000" />
			</requestFiltering>
		</security>

		<defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="default.aspx" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="10.239.195.201/atbps80" responseMode="Redirect" />
        </httpErrors>
	</system.webServer>
</configuration>
